.success, .error {
    color: white;
    padding: 5px 5px 5px 10px;
    margin: 10px 0 15px 0;
}

.success {
    background: rgb(13, 122, 13);
}

.error {
    background: rgb(229, 33, 33);
}

#footer {
    padding: 20px;
    width: 100%;
}
